<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crypto.api.crypto.service.dao.UserRepository">

    <select id="getWalletBalance">
        SELECT
            symbol,
            bid_price,
            ask_price
        FROM crypto_latest_price
        WHERE symbol={#symbol}
    </select>
</mapper>