<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crypto.api.crypto.service.dao.UserRepository">

    <resultMap id="BalanceResultMap" type="com.crypto.api.crypto.service.entity.BalanceEntity">
        <result column="symbol" property="symbol" jdbcType="VARCHAR"/>
        <result column="balance" property="balance" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="getWalletBalance" resultMap="BalanceResultMap" resultType="java.util.List">
        SELECT
            symbol,
            balance
        FROM user_balance
        WHERE user_id = {#userId}
    </select>

    <select id="getBalance" resultMap="BalanceResultMap" parameterType="map">
        SELECT
            symbol,
            balance
        FROM user_balance
        WHERE user_id = {#userId} AND symbol={#symbol}
    </select>

    <update id="deductBalance" parameterType="map">
        UPDATE user_balance
        SET balance = balance - {#amount}
        FROM user_balance
        WHERE user_id = {#userId} AND symbol={#symbol} AND (balance - #{amount} >= 0)
    </update>

    <update id="addAccountBalance" parameterType="map">
        UPDATE user_balance
        SET balance = balance + {#amount}
        FROM user_balance
        WHERE user_id = {#userId} AND symbol={#symbol}
    </update>
</mapper>